<div class="my-5">
        <h1 style="text-align: center">Courses</h1>
        <h3 style="text-align: center"> This page is for adding and removing course information to the database</h3>
</div>

<div class="container">
    <!--Table with Attributes-->
    <table class="table table-hover">
        <thead>
        <tr>
            {{#each data.[0]}}
            <th scope="col">
                {{@key}}
            </th>
            {{/each}}
        </tr>
        </thead>

        <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.course_id}}</td>
                    <td>{{this.course_name}}</td>
                    <td>{{this.tutor_id}}</td>
                    <td><a class="bi bi-trash text-danger" onclick="deleteCourse({{this.course_id}})"></a></td>
                </tr>
                {{/each}}
        </tbody>
    </table>
</div>

<!--Citation for cards and forms
    Date: 10/24/2021
    Adapted from
    Source URL: https://getbootstrap.com/docs/4.0/components/card/, https://getbootstrap.com/docs/4.0/components/forms/
-->

<!--Forms-->
<div class="container">
    <div class="row justify-content-around">
        <div class="col-sm-6" style="width: 35em;">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add New Course</h4>
                    <form id="add-course-form" method="POST" action="/add-course-form">

                        <label for="course_name" class="form-label">Type the Course Name:</label>
                        <div class="mb-3">
                            <input type="text" class="form-control" name="course_name" id="coursename" required>
                        </div>
                        <label for="tutor" class="form-label">Select a Tutor (Note that one tutor can only teach one course)</label>
                        <div class="mb-3">
                            <select name="tutor_id" id="tutor_id" required>

                                <option value="">Select A Tutor</option>
                                {{#each tutors}}
                                <option value="{{this.tutor_id}}">{{this.tutor_id}}-{{this.first_name}} {{this.last_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="mb-2 text-center">
                            <button type="submit" class="btn btn-secondary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function deleteCourse(id){
        $.ajax({
            url: `/courses/${id}`,
            type: 'DELETE',
            success: function(result){
                window.location.reload(true)
            }
        })
    }

</script>

