<div class="my-5">
        <h1 style="text-align: center">Courses</h1>
        <h3 style="text-align: center"> This page is for adding and removing course information to the database</h3>
</div>

<div class="container">
    <!--Table with Attributes-->
    <table class="table table-hover">
        <thead>
        <tr>
            {{#each data.[0]}}
            <th scope="col">
                {{@key}}
            </th>
            {{/each}}
        </tr>
        </thead>

        <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.course_id}}</td>
                    <td>{{this.course_name}}</td>
                    <td>{{this.tutor_id}}</td>
                    <td><a href="/courses/{{this.course_id}}">Update</a></td>
                    <td><button onclick="deleteCourse({{this.course_id}})">Delete</button></td>
                </tr>
                {{/each}}
        </tbody>
    </table>
</div>

<div class="container">
<form id="add-course-form" method="POST" action="/add-course-form">
    <h3>Add New Course</h3>
    <br>
    <label for="course_name">Select a Course Name:</label>
    <select name="course_name" id="course_name" required>
        <option value="Course 1">Course 1</option>
        <option value="Course 2">Course 2</option>
        <option value="Course 3">Course 3</option>
        <option value="Course 4">Course 4</option>
        <option value="Course 5">Course 5</option>
        <option value="Course 6">Course 6</option>
        <option value="Course 7">Course 7</option>
        <option value="Course 8">Course 8</option>
        <option value="Course 9">Course 9</option>
        <option value="Course 10">Course 10</option>
    </select>
    </br>
    
    <br>
    <label for="tutor">Select a Tutor(Note that one tutor can only teach one course):</label>
    <select name="tutor_id" id="tutor_id" required>
        <option value="">Select a tutor_id</option>
        {{#each tutors}}
        <option value="{{this.tutor_id}}">{{this.tutor_id}}</option>
        {{/each}}
    </select>
    </br>

    <br>
    <input type="submit">
    </br>
</form>
</div>

<script type="text/javascript">
    function deleteCourse(id){
        $.ajax({
            url: `/courses/${id}`,
            type: 'DELETE',
            success: function(result){
                window.location.reload(true)
            }
        })
    }
</script>
