<div class="my-5">
        <h1 style="text-align: center">Invoices</h1>
        <h3 style="text-align: center"> This page is for adding and removing invoice information to the database</h3>
</div>

<div class="container">
    <!--Table with Attributes-->
    <table class="table table-hover">
        <thead>
        <tr>
            {{#each data.[0]}}
            <th scope="col">
                {{@key}}
            </th>
            {{/each}}
        </tr>
        </thead>

        <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.invoice_id}}</td>
                    <td>{{this.student_id}}</td>
                    <td>{{this.payment_status}}</td>
                    <td><a class="bi bi-pencil-square" href="/invoices/{{this.invoice_id}}"></a></td>
                    <td><a class="bi bi-trash text-danger" onclick="deleteInvoice({{this.invoice_id}})"></a></td>
                </tr>
                {{/each}}
        </tbody>
    </table>
</div>

<div class="container">
<form id="add-invoice-form" method="POST" action="/add-invoice-form">
    <h3>Add New Invoice</h3>
    <br>
    <select required name="student_id" id="student_id">
        <option value="">Select a student_id</option>
        {{#each students}}
        <option value="{{this.student_id}}">{{this.student_id}}</option>
        {{/each}}
    </select>
    </br>

    <br>
    <label for="status">payment_status</label>
    <select name="payment_status" id="status" required>
        <option value="yes">Yes</option>
        <option value="no">No</option>
    </select>
    </br>

    <br>
    <input type="submit">
    </br>
</form>
</div>

<script type="text/javascript">
    function deleteInvoice(id){
        $.ajax({
            url: `/invoices/${id}`,
            type: 'DELETE',
            success: function(result){
                window.location.reload(true)
            }
        })
    }
</script>

