<div class="my-5">
        <h1 style="text-align: center">Students</h1>
        <h3 style="text-align: center"> This page is for adding and removing student information to the database</h3>
</div>

<div class="container">
    <!--Table with Attributes-->
    <table class="table table-hover">
        <thead>
        <tr>
            {{#each data.[0]}}
            <th scope="col">
                {{@key}}
            </th>
            {{/each}}
        </tr>
        </thead>

        <tbody>
                {{#each data}}
                <tr>
                    <td>{{this.student_id}}</td>
                    <td>{{this.first_name}}</td>
                    <td>{{this.last_name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.mentor_id}}</td>
                    <td><a class="bi bi-pencil-square" href="/students/{{this.student_id}}"></a></td>
                    <td><a class="bi bi-trash text-danger" onclick="deleteStudent({{this.student_id}})"></a></td>
                </tr>
                {{/each}}
        </tbody>
    </table>
</div>

<!--Forms-->
<div class="container">
    <div class="row my-5">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Add New Student</h4>
                    <form id="add-student-form" method="POST" action="/add-student-form">
                        <label for="firstname" class="form-label">First Name</label>
                            <div class="mb-3">
                                <input type="text" name="first_name" class="form-control" id="firstname" required>
                            </div>
                        <label for="lastname" class="form-label">Last Name</label>
                            <div class="mb-3">
                                <input type="text" name="last_name" class="form-control" id="lastname" required>
                            </div>
                        <label for="email" class="form-label">Email Address</label>
                            <div class="mb-3">
                                <input type="email" name="email" class="form-control" id="email" required>
                            </div>
                        <label for="mentor" class="form-label">Mentor</label>
                            <div class="mb-3">
                                <select name="mentor_id" id="mentor_id">
                                    <option value="NULL">Select A Mentor</option>
                                    {{#each mentors}}
                                    <option value="{{this.mentor_id}}">{{this.mentor_id}}-{{this.first_name}} {{this.last_name}}</option>
                                    {{/each}}
                                    <option value="NULL">No Mentor</option>
                                </select>
                            </div>
                            <div class="mb-2 text-center">
                                <button type="submit" class="btn btn-secondary">Submit</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Search Student</h4>
                        <form id="search-person-html" method='GET' action='/students'>
                            <label for="input-lname">Search by Last Name (Partial last names are OK): </label>
                            <div class="mb-4">
                                <input type="text" name="last_name" class="form-control" id="input-lname-html-search">
                            </div>
                            <div class="mb-2 text-center">
                                <button type="submit" class="btn btn-secondary">Submit</button>
                                <a href='/students'></a><button type="submit" class="btn btn-secondary">Reset</button></a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>

<script type="text/javascript">
    function deleteStudent(id){
        $.ajax({
            url: `/students/${id}`,
            type: 'DELETE',
            success: function(result){
                window.location.reload(true)
            }
        })
    }
</script>